.db-task-disp-buttons {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: blue;
}

.db-task-disp-buttons:hover {
    cursor: pointer;
}

#task-disp-button-holder {
    display: flex;
    justify-content: flex-end;
}

.materials-list-item > a {
    color: black;
    text-decoration: none;
}

.materials-list-item > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* .day-of-week {
    display: flex;
    margin-left: 30px;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 18px;
} */

/* #user-dashboard-wrapper {
    font-family: 'Roboto Condensed', sans-serif;
}

#dashboard-header {
    display: flex;
    justify-content: center;
} */
/*
.weekday {
    width: 4%;
}

.planners-wrapper {
    display: flex;
    justify-content: space-evenly;
} */
