@media screen and (max-width: 415px) {
    #study-sess-disp-wrap,
    #materials-display-wrapper,
    #study-sess-paper,
    #materials-paper {
        display: none;
        visibility: hidden;
    }
}

@media screen and (min-width: 416px) {
    #study-sess-disp-wrap {
        visibility: visible;
    }

    #materials-display-wrapper {
        visibility: visible;
    }
}

.db-task-disp-buttons {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: blue;
}

.db-task-disp-buttons:hover {
    cursor: pointer;
}

#task-disp-button-holder {
    display: flex;
    justify-content: flex-end;
}

.materials-list-item > a {
    color: black;
    text-decoration: none;
}

.materials-list-item > a:hover {
    cursor: pointer;
    text-decoration: underline;
}
