@media screen and (max-width: 400px) {
    .fc-set-wrapper {
        border: 1px solid green;
    }
}

.fc-set-wrapper {
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 200;
    margin: 10px;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fc-options-holder {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#flash-card-page-wrapper {
    font-family: 'Roboto Condensed', sans-serif;
    width: 155vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fc-header {
    text-align: center;
}

#fc-name-description {
    width: 50%;
    text-align: center;
    margin: 0 auto;

}

#fc-card-holder {
    width: 500px;
    min-height: 200px;
}

#flsh-crd {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 200px;
    text-align: center;
    align-self: center;
}

#fc-arrows-holder {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

#start-button-wrap {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitted-sess-text {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.single-set-info-card {
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    background-color: white;
}

.set-controls-holder-notempty {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.set-controls-holder-empty {
    height: 20px;
}
